<h1>Editing comment</h1>

<%= render "form", comment: @comment %>

<br>
<div class="btn-group my-5">
  <%= link_to "Show this user", @user, class: "btn btn-sm btn-outline-light" %>
  <%= link_to "Back to users", users_path, class: "btn btn-sm btn-outline-light" %>
</div>
