<p style="color: green"><%= notice %></p>

<h1 class="my-5">Comments</h1>

<% @comments.each do |comment| %>
  <%= render comment %>
  <p><%= link_to "Show comment", comment, class: "btn btn-sm btn-outline-light my-3" %></p>
<% end %>

<%= link_to "New comment", new_comment_path, class: "btn btn-sm btn-outline-light my-5" %>
